*{
margin: 0;
max-width: 100%;
}
main{
display: grid;
align-items: center;
justify-content: center;
}
header{
display: flex;
justify-content: center;
align-items: center;
background-color: blue;
padding: 2rem;
color: white;
}
header img{
max-width: 15rem;
margin-right: 5rem;
border-radius: 1.5rem;
border: 3px solid white;
}
h2{
text-align: center;
padding-bottom: 2rem;
}
section{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 2rem;
border-radius: 2rem;
margin-top: 2rem;
max-width: 850px;
background-color: white;
border: 3px solid blue;
font-weight: bolder;
font-size: large;
color: blue;
}
.sect{
background-color: blue;
color: white;
}
.sect img{
max-width: 70px;
}
footer{
background-color: blue;
padding: 1.5rem;
text-align: center;
color: white;
margin-top: 2rem;
font-weight: bolder;
}
